<p-table styleClass="p-datatable-striped p-datatable-sm"
         [value]="apiKeys" [rows]="10"
         [paginator]="true" [rowsPerPageOptions]="[10, 25, 50]"
         [showCurrentPageReport]="true"
         [currentPageReportTemplate]="'DATATABLE.PAGE_REPORT' | translate:{first: '{first}', last: '{last}',totalRecords: '{totalRecords}'}">
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="rowID">{{ 'REPOSITORY.TABS.API_KEY.DATATABLE.MODEL.ID' | translate }}
        <p-sortIcon field="rowID"></p-sortIcon>
      </th>
      <th pSortableColumn="expirationDate">{{ 'REPOSITORY.TABS.API_KEY.DATATABLE.MODEL.EXPIRATION_DATE' | translate }}
        <p-sortIcon field="expirationDate"></p-sortIcon>
      </th>
      <th pSortableColumn="lastAccessedDate">{{ 'REPOSITORY.TABS.API_KEY.DATATABLE.MODEL.LAST_ACCESSED_DATE' | translate }}
        <p-sortIcon field="lastAccessedDate"></p-sortIcon>
      </th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-row>
    <tr (dblclick)="edit(row)">
      <td>{{ row.rowID }}</td>
      <td>{{ row.expirationDate | date:'medium' }}</td>
      <td>{{ row.lastAccessedDate | date:'medium' }}</td>
      <td class="text-center">
        <p-button icon="pi pi-trash" styleClass="p-button-rounded p-button-text p-button-sm p-button-danger" (onClick)="delete(row)"></p-button>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="paginatorleft">
    <p-button type="button" icon="pi pi-plus" styleClass="p-button-text" (onClick)="create()"></p-button>
  </ng-template>
</p-table>