<!--<p-button [label]="'REPOSITORY.LIST.CREATE' | translate" (onClick)="create()"></p-button>-->

<p-table styleClass="p-datatable-striped p-datatable-sm"
         [value]="repositories" [rows]="10"
         [paginator]="true" [rowsPerPageOptions]="[10, 25, 50]"
         [showCurrentPageReport]="true"
         [currentPageReportTemplate]="'DATATABLE.PAGE_REPORT' | translate:{first: '{first}', last: '{last}',totalRecords: '{totalRecords}'}">
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="rowID">{{ 'REPOSITORY.DATATABLE.MODEL.ID' | translate }}
        <p-sortIcon field="rowID"></p-sortIcon>
      </th>
      <th pSortableColumn="name">{{ 'REPOSITORY.DATATABLE.MODEL.NAME' | translate }}
        <p-sortIcon field="name"></p-sortIcon>
      </th>
      <th pSortableColumn="url">{{ 'REPOSITORY.DATATABLE.MODEL.URL' | translate }}
        <p-sortIcon field="url"></p-sortIcon>
      </th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-row>
    <tr (dblclick)="view(row)">
      <td>{{ row.rowID }}</td>
      <td>{{ row.name }}</td>
      <td>{{ row.url }}</td>

      <td class="text-center">
        <p-button icon="pi pi-eye" styleClass="p-button-rounded p-button-text p-button-sm" [routerLink]="['/app/repositories', row.rowID]"></p-button>
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="paginatorleft">
    <p-button type="button" icon="pi pi-plus" styleClass="p-button-text" (onClick)="create()"></p-button>
  </ng-template>
</p-table>