<p-table styleClass="p-datatable-striped p-datatable-sm"
         [value]="apiKeys" [rows]="10"
         [paginator]="true" [rowsPerPageOptions]="[10, 25, 50]"
         [showCurrentPageReport]="true"
         [currentPageReportTemplate]="'DATATABLE.PAGE_REPORT' | translate:{first: '{first}', last: '{last}',totalRecords: '{totalRecords}'}">
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="rowID">{{ 'REPOSITORY.TABS.PIPELINE.DATATABLE.MODEL.ID' | translate }}
        <p-sortIcon field="rowID"></p-sortIcon>
      </th>
      <th pSortableColumn="startDate">{{ 'REPOSITORY.TABS.PIPELINE.DATATABLE.MODEL.START_DATE' | translate }}
        <p-sortIcon field="startDate"></p-sortIcon>
      </th>
      <th pSortableColumn="completeDate">{{ 'REPOSITORY.TABS.PIPELINE.DATATABLE.MODEL.COMPLETE_DATE' | translate }}
        <p-sortIcon field="completeDate"></p-sortIcon>
      </th>
      <th pSortableColumn="count">{{ 'REPOSITORY.TABS.PIPELINE.DATATABLE.MODEL.COUNT' | translate }}
        <p-sortIcon field="count"></p-sortIcon>
      </th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-row>
    <tr (dblclick)="view(row)">
      <td>{{ row.rowID }}</td>
      <td>{{ row.startDate | date:'medium' }}</td>
      <td>{{ row.completeDate | date:'medium' }}</td>
      <td>{{ row.count }}</td>
      <td class="text-center">
        <p-button icon="pi pi-eye" styleClass="p-button-rounded p-button-text p-button-sm" [routerLink]="['/app/repositories', repositoryID, 'pipelines', row.rowID]"></p-button>
      </td>
    </tr>
  </ng-template>
</p-table>