<div class="align-items-center flex justify-content-center lg:px-8 md:px-6 px-4 py-8 surface-ground">
  <div class="surface-card p-4 shadow-2 border-round w-full lg:w-6">
    <div class="text-center mb-5">
      <img src="assets/images/logo.png" alt="Image" height="50" class="mb-3">
    </div>

    <form [formGroup]="form" (ngSubmit)="submit()">
      <p-message *ngIf="hasError" class="w-full block mb-2" styleClass="w-full" severity="error" [text]="'LOGIN.MODEL.ERROR' | translate "></p-message>

      <div class="mb-3">
        <label for="email" class="block text-900 font-medium mb-1 required">{{ 'LOGIN.MODEL.EMAIL' | translate }}</label>
        <input id="email" type="text" [placeholder]="'LOGIN.MODEL.EMAIL' | translate" pInputText class="w-full mb-1" formControlName="email">
        <small *ngIf="form.get('email')?.touched && form.get('email')?.hasError('required')" id="email-error" class="text-danger block">{{ 'LOGIN.MODEL.EMAIL_REQUIRED' | translate }}</small>
      </div>

      <div class="mb-3">
        <label for="password" class="block text-900 font-medium mb-1 required">{{ 'LOGIN.MODEL.PASSWORD' | translate }}</label>
        <input id="password" type="password" [placeholder]="'LOGIN.MODEL.PASSWORD' | translate" pInputText class="w-full mb-1" formControlName="password">
        <small *ngIf="form.get('password')?.touched && form.get('password')?.hasError('required')" id="password-error" class="text-danger block">{{ 'LOGIN.MODEL.PASSWORD_REQUIRED' | translate }}</small>
      </div>

      <button pButton pRipple [loading]="submitting" [label]="'LOGIN.MODEL.LOG_IN' | translate" icon="pi pi-user" class="w-full"></button>
    </form>
  </div>
</div>
