<form [formGroup]="form" (ngSubmit)="submit()" class="flex min-h-screen">
  <div class="surface-section w-full md:w-6 p-6 md:p-8 flex flex-column justify-content-center">
    <div class="mb-5">
      <img src="assets/images/logo.png" alt="Image" height="50" class="mb-3">
      <div class="text-900 text-3xl font-medium mb-3">{{ 'LOGIN.MODEL.WELCOME_BACK' | translate }}</div>

      <p-message *ngIf="hasError" class="w-full block mb-2" styleClass="w-full" severity="error" [text]="'LOGIN.MODEL.ERROR' | translate "></p-message>
    </div>
    <div>
      <label for="email" class="block text-900 font-medium mb-2">{{ 'LOGIN.MODEL.EMAIL' | translate }}</label>
      <input id="email" type="text" [placeholder]="'LOGIN.MODEL.EMAIL' | translate" pInputText class="w-full p-3" formControlName="email">
      <small *ngIf="(form.get('email')?.touched || form.get('email')?.dirty) && form.get('email')?.hasError('required')" id="email-error-required" class="text-red-400 block">{{ 'LOGIN.MODEL.EMAIL_REQUIRED' | translate }}</small>
      <small *ngIf="(form.get('email')?.touched || form.get('email')?.dirty) && form.get('email')?.hasError('email')" id="email-error-email" class="text-red-400 block">{{ 'LOGIN.MODEL.MUST_BE_EMAIL' | translate }}</small>

      <label for="password" class="block text-900 font-medium mb-2 mt-3">{{ 'LOGIN.MODEL.PASSWORD' | translate }}</label>
      <input id="password" type="password" [placeholder]="'LOGIN.MODEL.PASSWORD' | translate" pInputText class="w-full p-3" formControlName="password">
      <small *ngIf="(form.get('password')?.touched || form.get('password')?.dirty) && form.get('password')?.hasError('required')" id="password-error-required" class="text-red-400 block">{{ 'LOGIN.MODEL.PASSWORD_REQUIRED' | translate }}</small>

      <button pButton pRipple type="submit" [loading]="submitting" [label]="'LOGIN.MODEL.LOG_IN' | translate" icon="pi pi-user" class="w-full p-3 mt-3"></button>
    </div>
  </div>
  <div class="hidden md:block w-6 bg-no-repeat bg-cover" style="background-image: url('assets/images/logo.png')"></div>
</form>