<!--<div *ngFor="let line of codeLines; let i = index" [class.highlight]="isHighlighted(i + 1)">-->
<!--  <input type="checkbox" *ngIf="isCheckboxLine(i + 1)" (change)="checkboxChanged($event, i + 1)">-->
<!--  <pre><code [innerHTML]="line | highlight: 'java'"></code></pre>-->
<!--</div>-->

<div #container class="flex flex-1 flex-column">
  <div class="grid grid-nogutter flex-auto h-full">
    <div #testClassesContainer class="col-12 xl:col-9 overflow-y-auto" [ngStyle]="{'max-height': maxCodeHeight}">
      <app-loader [context]="LoadingContexts.CUSTOM"></app-loader>

      <ng-container *ngIf="item">
        <div *ngFor="let testClass of item.testClasses; index as i" #testClassContainer [id]="'testClass' + i.toString()" [class.mb-4]="i > 0">
          <p-panel #codePanel *ngIf="visibleIndexes.includes(i)" [toggleable]="true">
            <ng-template pTemplate="header">
              <h4 class="m-0">{{ testClass.name }}</h4>
            </ng-template>

            <pre class="m-0 p-0"><code [lineNumbers]="true" [highlight]="testClass.sourceCode"></code></pre>
          </p-panel>
        </div>
      </ng-container>
    </div>

    <div class="col-12 xl:col-3">
      <ng-container *ngIf="item">
        <p-scroller #sc [items]="scrollerItems" [itemSize]="30">
          <ng-template pTemplate="item" let-item let-options="options">
            <div class="flex align-items-center p-2 cursor-pointer" [class.bg-primary]="item.id === currentTestClassID" (click)="changeIndex(item)" [ngClass]="{ 'surface-400': options.odd }">{{ item.id }} {{ item.name }}</div>
          </ng-template>
        </p-scroller>
      </ng-container>
    </div>
  </div>
</div>
